[submodule "foundry-sandbox/hello-foundry/lib/forge-std"]
	path = foundry-sandbox/hello-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-sandbox/hello-foundry/lib/solmate"]
	path = foundry-sandbox/hello-foundry/lib/solmate
	url = https://github.com/rari-capital/solmate
